# Ignore virtual environment
venv/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore OS files
.DS_Store

# Ignore environment files
.env

# (Optional) Ignore dataset & model files if you don’t want to upload them
final_dataset.csv
model.pkl
vectorizer.pkl
